/*font-family: 'Dancing Script', cursive;*/
/*font-family: 'Goudy Bookletter 1911', serif;*/


@media (max-width: 730px){
    body {
        background-image: url("../img/background-neutral.jpg");
        background-size: cover;
    }
    .card .card-image img {
        display: none;
    }
}

@media (min-width: 731px) {
    body {
        background-image: url("../img/book-stack.jpg");
        background-position: left;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
h1, h2 {
    font-family: 'Dancing Script', cursive;
    text-align: right;
}
 h4 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: large;
}

textarea {
    border-top: none;
    border-right: none;
    border-bottom-color: rgb(169, 169, 169);
    border-left: none;
}

/*-------navbar ------*/
.nav-wrapper {
    background-color: #ff6666;
}

nav ul li {
    font-family: 'Goudy Bookletter 1911', serif;
} 

nav ul li a {
    font-size: 1.5em;
}

.brand-logo img {
    max-height: 65px;
    width: auto;
}

/*-------home ------*/
.intro {
    margin-left: 10vw;
    text-align: justify;
}


/*-------forms ------*/

.form-background {
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #f5f5f5;
    opacity: 0.95;
    padding: 10px;
    overflow: hidden;
}

label {
    font-size: medium;
}
/*-------Buttons--------*/

.btn {
    background-color: #5499c9;
    color: #f5f5f5;
    margin: 10px;
}

.btn:hover{
    background-color: #bfbfbf;
    color: #ff6666;
}

.btn-right {
    float: right;
}
/*-------book list page ------*/

.card_style {
    background-color: #fafafa;
    opacity: 0.95;
    border-radius: 5px;
}

.card .card-content {
    padding: 0px 24px;
    line-height: normal;
}

.card .card-content a {
    color: #5499c7;
}


.card-image img {
    height: 200px;
    width: auto;
    object-fit: cover;
    
}

/*-------author list ------*/


.thumbnail {
    background-color: #f2f2f2;
    opacity: 0.95;
    box-shadow: 0px 2px 2px 0px rgba(184,182,184,1);
    border-radius: 10px;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: thin;
    height: auto;
    width: 210px;
    margin: 10px;
    text-align: center;
}

.thumbnail-content {
    position: relative;
    padding-bottom: 10px;
    text-align: center;
}

.thumbnail img {
    margin: 5px;
    border-radius: 10px;
    height: 240px;
    width: 200px;
    object-fit: cover;
}

/*-------Auth Details page ------*/

.author-details-background {
    margin-bottom: 20px;
    background-color: #fafafa;
    opacity: 0.95;
    border-radius: 10px;
    padding: 25px;
}

.author-details-background img {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    height: 200px;
    width: auto;
    object-fit: cover;
}

.author-bio {
    text-align: justify;
}


/*-------Book Details page ------*/

.book-details-background {
    background-color: #fafafa;
    opacity: 0.95;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 25px;
}

.book-cover img {
    float: left;
    height: auto;
    max-width: 130px;
}
