body {
    background-image: url("../img/book-pages-as-a-heart_4460x4460.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.card_style {
    background-color: white;
    opacity: 0.9
}

.card .card-content {
    padding: 10px 24px;
}

.card-action {
     padding: 10px 24px;
}

.nav-wrapper {
    background-color: #a9cce3;
}

.header {
    color: #ffab40;
}

.form-background {
    background-color: white;
    opacity: 0.6;
    position: static;
    z-index: 0;
}

.thumbnail {
    max-width: 200px
}

.author-details img {
    max-width: 240px;
    height: auto;

}

.thumbnail img {
    max-height: 220px;
    width: auto;
    padding: 10px;
   
}
