{% extends 'base.html' %} {%block content%}

<h2> Add an Author </h2>
    <div class="form-background">
        <form method="POST" action="/add_author">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="f_name"  required />
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="l_name"  required/>
                <label for="author_bio">Author's bio</label>
                <textarea type="text" id="author_bio" name="bio"  style="height:100px"required></textarea>
                <label for="author_photo">Add a link to the author's profile photo</label>

                <input type="text" id="author_photo" name="author_photo"  />
           
            <br><a href="{{url_for('add_author') }}" class="btn btn-right" role="button">Reset</a>
            <input class="btn btn-right" type="Submit" value="Add"/>
        
        </form>
    </div>
{% endblock %}
