{% extends 'base.html' %} {%block content%}

<h2> Add a Book </h2>
<div class="form-background">
<form method="POST" action="/add_book">

        <input type="text" name="title" placeholder="Title" required/>
        <input type="text" name="author" placeholder="Author" required/>
        <input type="text" name="date_published" placeholder="Year of Publication" required/>
        <textarea type="text" name="synopsis" placeholder="Book synopsis" style="height:100px"required></textarea>
        <input type="text" name="cover_image" placeholder="Image link" />
        <p>Genre:</p>
        <div class="row">
            {% for genre in genres %}
            <div class="col s12 m4">
                <label>
            <input type="checkbox" value="{{genre}}" name="{{genre}}"/>
            <span>{{genre}}</span>
        </label>
            </div>
            {% endfor %}
        </div>

    <br><input class="btn" type="Submit" value="Add"/>
    <a href="{{url_for('book_list') }}" class="btn" role="button">Cancel</a> 
</form>
</div>



{% endblock %}
