{% extends 'base.html' %} {%block content%}

<h2> Add a Book </h2>
<div class="form-background">
<form method="POST" action="/add_book">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required/>
        <label for="author">Author's name</label>
        <input type="text" id="Author" name="author" required/>
        <label for="publication">Year of Publication</label>
        <input type="number" min="1900" max="2018" id="Publication" name="date_published" required/>
        <label for="synopsis">Synopsis</label>
        <textarea type="text" id="synopsis" name="synopsis" style="height:100px"required></textarea>
        <label for="cover_image">Add a link to the book cover online</label>
        <input type="text" id="cover_image"name="cover_image"  />
        <label for="genres">Genres</label>
        <div class="row">
            {% for genre in genres %}
            <div class="col s12 m4">
                <label>
            <input type="checkbox" id="genres" value="{{genre}}" name="{{genre}}" required/>
            <span>{{genre}}</span>
        </label>
            </div>
            {% endfor %}
        </div>

    <br><a href="{{url_for('add_book') }}" class="btn btn-right" role="button">Reset</a>
    <input class="btn btn-right" type="Submit" value="Add"/>
</form>
</div>



{% endblock %}
