{% extends 'base.html' %} {%block content%}

<h2> Add a Book </h2>

<form method="POST" action="/add_book">
    <div class="form-background">
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="author" placeholder="Author" />
        <input type="text" name="date_published" placeholder="Year of Publication" />
        <input type="text" name="synopsis" placeholder="Synopsis" />
        <input type="text" name="cover_image" placeholder="Cover" />
        <p>Genre:</p>
        <div class="row">
            {% for genre in genres %}
            <div class="col s2">
                <label>
            <input type="checkbox" value="{{genre}}" name="{{genre}}"/>
            <span>{{genre}}</span>
        </label>
            </div>
            {% endfor %}
        </div>

    </div>
    <br>
    <input type="submit" />
</form>




{% endblock %}
