{% extends 'base.html' %} {%block content%}


<h2> Add review </h2>

<div class="form-background">
        
<form method="POST" action="/submit_review">
        <label for="review">Add your review</label>
        <textarea type="text" id="review" name="reader_review" style="height:100px" required></textarea>
        <input type="hidden" name="book_id" value="{{book_id}}"/>
        <a href="{{ url_for('book_details', books_id = book_id) }}" class="btn btn-right">go back</a>
        <br><a href="{{ url_for('add_review', book_id=book_id) }}" class="btn btn-right" role="button">reset</a>
        <input class="btn btn-right" type="Submit" value="Add"/>
    </form>
</div>

{% endblock %}