

{% extends 'base.html' %} {%block content%}

<h2>Authors </h2>
<div class="row">
    {% for author in authors %}


    <div class="col s3 col m4">
        <div class="thumbnail">
            <img src="{{author.photo}}" alt="{{author.name}}"></img>
            <div class="caption">
                <h5>{{ author.f_name.title() + " " + author.l_name.title() }}</h5>
                <p><a href="/author_details/{{author._id}}" class="btn btn-danger" role="button">Author's page</a></p>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
