{% extends 'base.html' %} {%block content%}

<h2>{{ book.title.title() }}</h2>

<div class="row">
    <div class="col s2">
        <img src="{{ book.cover_image }}" alt="{{book.title}}"> </img>
    </div>
    <div class="col s10">
        <p> Author: <a href="/author_details/{{author._id}}">{{ book.author.title() }}</a></p>
        <p> Published: {{ book.date_published }}</p>
        <p> Genre: {%for g in book.genre %} {{ g }} {% endfor%}</p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col s12">
        <p> {{book.synopsis }}</p>
    </div>

</div>

<hr>
<h5>Reader Reviews:</h5>
<div class="row">
    {% for review in book.user_reviews %}
    <div class="col s12">
        <p> {{review}} </p>
        <br>
        {% endfor %}
    </div>

</div>

<a href="{{ url_for('add_review', book_id = book._id) }}">Leave review</a> {% endblock %}
