{% extends 'base.html' %} {%block content%}

<h2>{{ book.title.title() }}</h2>

<div class="book-details-background">
    <div class="row">
        <div class="col s12 m2 book-cover">
            <img src="{{ book.cover_image }}" alt="{{book.title}}"> </img>
        </div>
        <div class="col s12 m10">
            <p> Author: <a href="/author_details/{{author._id}}">{{ book.author.title() }}</a></p>
            <p> Published: {{ book.date_published }}</p>
            <p> Genre: {%for g in book.genre %} {{ g }} {% endfor%}</p>
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="col s12">
            <p> {{book.synopsis }}</p>
        </div>
    
    </div>
    
    <hr>
    <h4>Reader Reviews:</h4>
    {% for review in book.reader_reviews %}
    <div class="row">
        <p>{{review}}</p>
    </div>
    {% endfor %}
    
    
    
    <a href="{{ url_for('add_review', book_id = book._id) }}" class="waves-effect waves-light btn"><i class="material-icons right">create</i>Add a Review</a>
</div>


 {% endblock %}