{% extends 'base.html' %} {%block content%}


<div class="row intro">
    <h1>For the Love of Books</h1>
    <p>Welcome to <span style="color:#ff6666;">For the Love of Books</span>, a site created for those who enjoy reading and want to share their favourite titles with friends and family near or far.</p>
    <p>The fast paced world  we live in and some long distance friendships make it difficult to find the time to meet at a book club or even find the time to finish the book we picked up some weeks ago.  On this site you can add new books titles and authors or add a review at any time. There are no restrictions we only ask that you 'keep it clean' and friendly.<br>
    </p>
    <p>It's time to make yourself a cup of tea, get comfortable and enjoy a few minutes of relaxation with your next favourite book.  We'll be looking forward to your additions...</p>
</div>
    
{% endblock %}